global_defs {
  # Keepalived process identifier
  router_id nginx
}

# Script to check whether Nginx is running or not
vrrp_script check_nginx {
  script {{ keepalived_script }}
  interval {{ keepalived_interval }}
  weight {{ keepalived_weight }}
}

# Virtual interface - The priority specifies the order in which the assigned interface to take over in a failover
vrrp_instance VI_01 {
  state {{ keepalived_state }}
  interface {{ keepalived_interface }}
  virtual_router_id {{ keepalived_router_id }}
  priority {{ keepalived_priority }}

  # The virtual ip address shared between the two NGINX Web Server which will float
  virtual_ipaddress {
    {{ keepalived_vip }}
  }
  track_script {
    {{ keepalived_track_script }}
  }
  authentication {
    auth_type AH
    auth_pass {{ keepalived_auth_pass }}

  }
}
